In [76]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification

In [77]:
data= pd.read_csv('train.csv')

In [78]:
X = data.drop('labels', axis=1)
y= data['labels']

In [79]:
x_train, x_valid, y_train, y_valid = train_test_split(X, y , test_size = 0.3,random_state=42)

In [80]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_valid = scaler.transform(x_valid)

In [81]:
def work_model(model, X, Y, x,y):
    model.fit(X,Y)
    y_pred=model.predict(x)
    F1_score=f1_score(y,y_pred)
    return F1_score

In [82]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\rishabh tirole\.ms-ad\anaconda\lib\site-packages (1.7.6)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy in c:\users\rishabh tirole\.ms-ad\anaconda\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\rishabh tirole\.ms-ad\anaconda\lib\site-packages (from xgboost) (1.23.5)

In [84]:
import xgboost as xgb
model1 = xgb.XGBClassifier()
xgb_f1 = work_model(model1, x_train, y_train, x_valid, y_valid)
print(xgb_f1)

0.7125382262996942

In [101]:
test= pd.read_csv('test.csv')

In [96]:
sol=pd.read_csv('solution_format.csv')

In [91]:
x_test=test.drop('id',axis=1)

In [93]:
y_test=model1.predict(x_test)

In [94]:
prediction=pd.DataFrame({'labels': y_test})

In [111]:
prediction

      labels
0          0
1          0
2          0
3          0
4          0
...      ...
2245       0
2246       0
2247       1
2248       0
2249       1

[2250 rows x 1 columns]

In [102]:
test['prediction']=prediction

In [105]:
Solution=test[['id','prediction']]
Solution.head()

   id  prediction
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0

In [112]:
Solution.to_csv('Predicted results.csv',index=False)